body{
  color: white;
  font-size: 150%;
  font-family: arial, helvetica, sans-serif;
  background-color: turquoise;
  border-radius: 20px;
  width: 90%;
}
h1 {
  text-align: center;
}
form {
  padding: 10px;
  text-align: center;
}
input:focus {
  outline: none;
}
::placeholder {
  color: white;
}

.textBox {
  margin-left: 5px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #333;
  background-color: turquoise;
  color: #ecf0f1;
  font-size: 150%;
  padding: 5px 15px;
}
